<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Cash Money</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/de.js"></script>
</head>

<body class="app">
    <%- include('./templates/header.ejs')%>


    <div class="sophie-branch">
        <div class="app-button-box">
            <form action="/" method="get">
                <% if (buttonPressed=="positive" ) { %>
                <input type="text" value="" id="filterData" name="filterData" hidden>
                <button type="submit" class="app-button app-button--green app-button--pressed">Eingaben</button>
                <% } else { %>
                <input type="text" value="positive" id="filterData" name="filterData" hidden>
                <button type="submit" class="app-button app-button--green">Eingaben</button>
                <% } %>
            </form>
            <form action="/" method="get">
                <% if (buttonPressed=="negative" ) { %>
                <input type="text" value="" id="filterData" name="filterData" hidden>
                <button type="submit" class="app-button app-button--red app-button--pressed">Ausgaben</button>
                <% } else { %>
                <input type="text" value="negative" id="filterData" name="filterData" hidden>
                <button type="submit" class="app-button app-button--red">Ausgaben</button>
                <% } %>
            </form>
        </div>

        <div class="app-top">
            <div class="calendar">
                <img src="/images/calendar.png" alt="Kalender">
            </div>
            <input type="date" <%=startDate ? `value=${startDate} ` : '' %>class="app-button-months date1">
            <input type="date" <%=endDate ? `value=${endDate} ` : '' %>class="app-button-months date2">
        </div>
    </div>



    <div class="data-container">
        <% let overall = 0 %>
        <% if (typeof(entries) !="undefined" ) { %>
        <% let lastMonth="" ; for (const[key, value] of Object.entries(entries)) { let
                    date=dayjs(value["entry_date"]) %>
        <% if (date.format('MMMM') !=lastMonth) { %>
        <div class="data-month">
            <h2>
                <%= date.format('MMMM') %>
            </h2>
        </div>
        <% } %>
        <% if (value["entry_value"]> 0) { %>
        <div class="data-entry data-entry--positive" data-id="<%= value["entryID"] %>">
            <% } else { %>
            <div class="data-entry data-entry--negative" data-id="<%= value["entryID"] %>">
                <% } %>
                <div class="data-entry-date-tags">
                    <p class="data-date" data-date="<%= date.format('MM.DD.YYYY') %>"><%= date.format('DD.MM.YYYY')%>
                    </p>
                    <p class="data-tags"><%= value["entry_tags"] %></p>
                </div>
                <div class="data-entry-inner">
                    <p class="data-name"><%= value["entry_name"]%></p>
                    <% let thisEntryValue = String((Math.round(value["entry_value"] * 100) / 100).toFixed(2)).replace('.',',') %>
                    <p class="data-amount"><%= thisEntryValue %>€</p>
                    <% overall = overall + value["entry_value"] %>
                </div>
            </div>
            <% lastMonth=date.format('MMMM'); } %>
            </p>
            <% }%>
            <% if (overall> 0) { %>
            <div class="data-entry data-entry--positive data-entry--overall">
                <% } else {%>
                <div class="data-entry data-entry--negative data-entry--overall">
                    <% } %>
                    <div class="data-entry-inner">
                        <p class="data-name">
                            Insgesamt
                        </p>
                        <p class="data-amount">
                            <%= String(Math.round(overall * 100) / 100).replace('.',',')%>€
                        </p>
                    </div>
                </div>
            </div>

            <div class="entry-div">
                <!-- <label for="entry_name">Zweck</label> -->
                <input type="text" class="entrybar" name="entry_name" id="entry_name" placeholder="Zweck">
                <!-- <label for="entry_value">Wert</label> -->
                <input type="number" step="0.01" name="entry_value" id="entry_value" onchange="setDecimal(this)"
                    class="entrybar" placeholder="0,00€">
                <button class="entrybar-button entrybar-button--positive"
                    <%= user.userrole == "testuser" ? ' disabled' : ''%>>+</button>
                <button class="entrybar-button entrybar-button--negative"
                    <%= user.userrole == "testuser" ? ' disabled' : ''%>>-</button>
            </div>

            <div class="modal micromodal-slide" id="modal" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                        <header class="modal__header">
                            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                        </header>
                        <main class="modal__content" id="modal-1-content">
                            <form action="/aktualisieren" method="post" id="update-data">
                                <input id="entry_update_id" name="entry_update_id" hidden value>
                                <div>
                                    <label for="entry_update_date">Datum:</label><input id="entry_update_date"
                                        name="entry_update_date" type="date">
                                </div>
                                <div>
                                    <label for="entry_update_name">Zweck:</label><input id="entry_update_name"
                                        name="entry_update_name" type="text">
                                </div>
                                <div>
                                    <label for="entry_update_value">Wert:</label><input id="entry_update_value"
                                        name="entry_update_value" type="number" step="0.01">
                                </div>
                                <div>
                                    <label for="entry_update_tags">Kategorie:</label><input id="entry_update_tags"
                                        name="entry_update_tags" type="text">
                                </div>
                            </form>
                        </main>
                        <footer class="modal__footer">
                            <button class="modal__btn" data-micromodal-close
                                aria-label="Close this dialog window">Schließen</button>
                            <button class="modal__btn modal__btn-primary" form="update-data">Aktualisieren</button>
                        </footer>
                    </div>
                </div>
            </div>
            <script src="/js/script.js"></script>
</body>

</html>